{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="post" action="" onsubmit="loading()">
            {{ form.hidden_tag() }}
            <fieldset class="form_group">
                <legend class="border-bottom mb-4">Add Patient</legend>
<!--                Patient form group-->
                <div class="form-group">
                    {{ form.patient.label(class="form-control-label") }}
                    {% if form.patient.errors %}
                        {{ form.patient(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.patient.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                    {% else %}
                        {{ form.patient(class="form-control") }}
                    {% endif %}
                </div>
<!--                Device Type Form Group-->
                <div class="form-group">
                    {{ form.device_type.label(class="form-control-label") }}
                    {{ form.device_type(class="form-control") }}
                </div>
            </fieldset>
            <div class="form-inline mt-2">
                {{ form.submit(class="btn btn-outline-info mr-3") }}
                <div class="spinner-border" id="loading" >
                    <span class="sr-only"></span>
                </div>
            </div>
        </form>
        <script type="text/javascript">// <![CDATA[

                // Loading Spinner
                function loading(){
                    $("#loading").show();
                    $("#content").hide();
                }
        // ]]>
            /* Reload page on back submission */
            window.addEventListener( "pageshow", function ( event ) {
                  var historyTraversal = event.persisted ||
                                         ( typeof window.performance != "undefined" &&
                                              window.performance.navigation.type === 2 );
                  if ( historyTraversal ) {
                    // Handle page restore.
                    window.location.reload();
                  }
                });

</script>
    </div>
{% endblock content %}


