{% extends "layout.html" %}
{% block content %}
<main>
<!--  Title, update and add buttons-->
  <div class="container-fluid">
    <div class="row no-gutters justify-content-center">
      <div class="col-2">
        <h1 style="width: 100%;">
          Patients
        </h1>
      </div>

      <div class="col-7">
      </div>
      <div class="col-3">
        <a class="btn btn-outline-success add-button ml-3" href="{{ url_for('addpatient') }}">
          Add Patient
        </a>
         <a class="btn btn-outline-info update-button" data-toggle="modal" data-target="#updateModal">
          Update Now
        </a>
      </div>
    </div>
  </div>

  <!-- updateModal -->
  <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="updateNow">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateModalLabel">Update Users?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Note: Only Users With New Data Will Be Updated
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('updatenow') }}">
            <input class="btn btn-primary" type="submit" value="Update">
          </form>
        </div>
      </div>
    </div>
  </div>

<!--First row-->
    <div class="container-fluid mt-1" >
      <div class="row no-gutters justify-content-center">
        <div class="col-4" style="text-align: center;">
          <div class="content-section2">
            <b>Patient ID</b>
          </div>
        </div>

        <div class="col-4" style="text-align: center;">
          <div class="content-section2">
            <b>Device ID</b>
          </div>
        </div>

         <div class="col-4" style="text-align: center;">
          <div class="content-section2">
            <b>Device Type</b>
          </div>
        </div>
      </div>
    </div>

{% for patient in patients %}
    <div class="container-fluid" style="border-radius: 0 !important;">
      <button type="button" style="padding: 0 !important" class=" btn btn-primary-outline" data-toggle="modal" data-target="#deleteModal{{ patient['patient_id'] }}">
      <div class="row no-gutters justify-content-center">
        <div class="col-4" style="text-align: center">
          <div class="content-section2">
            {{ patient['patient_id'] }}
          </div>
        </div>

        <div class="col-4" style="text-align: center">
          <div class="content-section2">
            {{ patient['userid'] }}
          </div>
        </div>

         <div class="col-4" style="text-align: center">
          <div class="content-section2">
            {{ patient['device_type'] }}
          </div>
        </div>

      </div>
      </button>
    </div>
  <!-- deleteModal -->
  <div class="modal fade" id="deleteModal{{ patient['patient_id'] }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="{{ patient['patient_id'] }}">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel{{ patient['patient_id'] }}">Delete User?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Delete {{ patient['patient_id'] }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('deletepatient', patient_id=patient['patient_id'], user_id=patient['userid']) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</main>



{% endblock content %}