{% extends "layout.html" %}
{% block content %}
<main>
<!--  Title, update and add buttons-->
  <div class="container-fluid mb-2">
    <div class="row no-gutters justify-content-center">

      <form class="form-inline col-7" method="GET">
        <input class="form-control w-75 mr-sm-2 searchbar"
          type="search" placeholder="Search" name="q">
        <button type=""submit class="btn btn-success" style="border-radius: 50px;">
          <i class="fa fa-search"></i>
        </button>
      </form>

      <div class="col-5">
        <a class="btn btn-outline-success add-button ml-3" href="{{ url_for('patients.addpatient') }}">
          Add Patient
        </a>
         <a class="btn btn-outline-info update-button" data-toggle="modal" data-target="#updateModal">
          Update Now
        </a>
      </div>
    </div>
  </div>

  <!-- updateModal -->
  <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="updateNow">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateModalLabel">Update Users?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Note: Only Users With New Data Will Be Updated
        </div>
        <div class="modal-footer justify-content-start">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('patients.updatenow') }}" onsubmit="loading()">
            <input class="btn btn-primary" type="submit" value="Update">
          </form>
          <div class="spinner-border" id="loading" >
                <span class="sr-only"></span>
            </div>
        </div>
      </div>
    </div>
  </div>

<!--First row-->
    <div class="container-fluid mt-1" >
      <div class="row no-gutters justify-content-center">
        <div class="col-4" style="text-align: center;">
          <div class="content-section2">
            <b>Patient ID</b>
          </div>
        </div>

        <div class="col-4" style="text-align: center;">
          <div class="content-section2">
            <b>Device ID</b>
          </div>
        </div>

         <div class="col-4" style="text-align: center;">
          <div class="content-section2">
            <b>Device Type</b>
          </div>
        </div>
      </div>
    </div>

{% for patient in patients %}
    <div class="container-fluid" style="border-radius: 0 !important;">
      <a style="padding: 0 !important" class=" btn btn-primary-outline"
         href="{{ url_for('patients.editpatient', patient_id=patient['patient_id'].replace(' ', '_'), user_id=patient['userid'], device_type=patient['device_type']) }}">
      <div class="row no-gutters justify-content-center">
        <div class="col-4" style="text-align: center">
          <div class="content-section2">
            {{ patient['patient_id'] }}
          </div>
        </div>

        <div class="col-4" style="text-align: center">
          <div class="content-section2">
            {{ patient['userid'] }}
          </div>
        </div>

         <div class="col-4" style="text-align: center">
          <div class="content-section2">
            {{ patient['device_type'] }}
          </div>
        </div>

      </div>
      </a>
    </div>

{% endfor %}
  <script type="text/javascript">// <![CDATA[
                // Loading Spinner
                function loading(){
                    $("#loading").show();
                    $("#content").hide();
                }
        // ]]></script>
</main>
{% endblock content %}