body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

.bg-darkgreen {
    background-color: #5B8A81;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active{
    font-weight: 500;
}

.update-button {
    margin-top: 7px;
    float: right;
    width: auto;
}

.add-button {
    margin-top: 7px;
    float: right;
    width: auto;
}

.remove-button {
    width: 100%;
    height: 100%;
}

.edit-button {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 100%;
}

.btn-primary-outline {
    background-color: transparent;
    border-color: #ccc;
    width: 100%;
    padding: 0;
}

.btn-primary-outline:hover {
    background-color: #8CA588;
}

.spinner-border {
    width: 20px;
    height: 20px;
    margin: 10px;
}

.btn-primary-outline:active {
  background-color: #3e8e41;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    outline: 2px solid #dddddd;
    width: 500px;
}

/* Rename Later */
.content-section2 {
    background: transparent;
    padding: 10px 20px;
    outline: 1px solid #dddddd;
    width: 100%;
    height: 100%;

}

.searchbar{
    border-color: #59B274;
    border-radius: 25px;
    width: 80%;
    }


.content-button {
    background: #ffffff;
    outline: 2px solid #dddddd;
    width: 100%;
    height: 100%;
}

div#loading {
    display: none;
    background: white;
    cursor: wait;
    }

.no-margin
{
  margin: 0px;
}

.article-title {
    color: #444444;
}

.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article.metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}
